section#bridalparty
  overflow: hidden
  position: relative
  margin-bottom: 8em !important
  max-width: 45em + $padder

  > a
    opacity: 0
    font-size: 145%
    @include single-transition()

  .headshot-icons 
    margin: 2em auto

    li
      width: 2%
      padding: 1% 0
      overflow: hidden
      position: relative
      margin-right: 0.1em
      border-radius: 100em
      background-size: cover
      background-color: $grayLight
      background-repeat: no-repeat
      @include single-transition($duration: 1s)
      @include inline-block()

      &:nth-child(odd)
        background-position: center 500%

      &:nth-child(even)
        background-position: center -500%

      &:hover
        cursor: pointer

  .slide
    width: 100%
    max-height: 0em
    overflow: hidden

    .photo
      width: 20%
      padding: 10% 0
      margin: 1em auto
      border-radius: 100em
      background-size: cover
      background-color: $grayLight
      background-position: center center
      @include inline-block()

  &[data-showing="0"]

    > a
      opacity: 1

    .headshot-icons 
      margin: 2em auto

      li
        width: 6%
        padding: 3% 0
        margin-right: 0.25em
        background-position: center center

@for $i from 1 through 12

  section#bridalparty[data-showing="#{$i}"]

    .slide
      max-height: 0
      @include single-transition($duration: 2s)

    .slide[data-slide="#{$i}"]
      max-height: 100em
