@import "compass/css3/user-interface"

form
  margin-top: 2em

  label, input, textarea
    width: 67.7%
    display: block

  label
    text-align: center
    margin: 0 auto 0.33em
    @extend h5

  input, textarea
    color: $brown
    font-size: 0.9em
    margin: 0 auto 1.75em
    padding: 0.65em 0.75em 0.55em
    border: 1px solid $grayLight !important
    font-family: 'ProximaNovaRegular', sans
    -webkit-appearance: box
    @include single-transition()
    @include appearance(none)
    @include border-radius(0)

    &[disabled]
      color: lighten($gray, 10%)

  button
    color: $white
    border: none
    font-size: 1.15em
    background: $gray
    position: relative
    text-decoration: none
    text-transform: uppercase
    padding: 0.67em 1.25em 0.5em
    font-family: 'ColumbiaTitlingLight'
    -webkit-font-smoothing: antialiased
    @include single-transition($duration: 1s)

    .no-small
      color: inherit
    
    &:before
      left: 0
      margin-right: 1em
      text-align: right

    &:after
      right: 0
      margin-left: 1em
      text-align: left

    &:before, &:after
      color: $white
      content: '>>>'
      position: relative
      @include single-transition()

    &:hover
      cursor: pointer

      &:before
        margin-right: 1.4em

      &:after
        margin-left: 1.4em

    &.loading
      background-color: $grayLight

    &.error
      background-color: red

      &:before, &:after
        content: '!!!'

    &.success
      background-color: lighten($blue, 35%)
      padding: 0.67em 0em 0.5em

      &:before, &:after
        width: 0
        opacity: 0

    &.success, &.error

      &:hover
        cursor: default

      &:before
        margin-right: 1em

      &:after
        margin-left: 1em

// Placeholder Styling

$placeholder: darken($grayLight, 10%)

::-webkit-input-placeholder
  color: $placeholder

\:-moz-placeholder
  color: $placeholder

::-moz-placeholder
  color: $placeholder

\:-ms-input-placeholder
  color: $placeholder
