@media only screen and (max-width: 450px)
  
  .no-small
    display: none

  .only-small
    display: inherit

  body

    #main-section

      > footer


      > section
        margin: 5rem 0
        border-left-width: 0px
        border-right-width: 0px
        padding-left: 1.5em !important
        padding-right: 1.5em !important

        h2
          font-size: 160%

        p
          font-size: 100%

          sup
            height: 0
            opacity: 0
            display: block

        aside
          font-size: 85%

        &#logo
          margin: 0

        &#ceremony
          margin-top: 9em
          padding-top: 8em !important
          padding-bottom: 6em !important

        &#reception
          padding-top: 5em !important
          padding-bottom: 6em !important

    section#bridalparty

      > a
        line-height: 125%
        border-bottom-width: 0

        &:before, &:after
          top: 0

        &:after
          right: -0.9em

      .headshot-icons 
        margin-left: 0.1em

        li
          width: 18% !important
          padding: 9% 0 !important

    form

      label
        width: 100%
        font-size: 80%

      input, textarea
        width: 100%

      button
        font-size: 88%
        content: 'Submit RSVP'