---
title: HTML5 Boilerplate Middleman
---

#main-section
  
  section
    h1
      | Joe
      span.amp &
      | Liz

    h2 October 12, 2013 

  section#ceremony
    h2 Ceremony
    p 
      | begins promptly at 2:30
      br
      | at Calvery Church
    a href="#" See Map

    aside Street parking and Marquette lots available

  section#bridalparty
    a href="#" Meet the Bridal Party

  section#reception
    h2 Reception
    p 
      | 5:30 Cocktails 
      sup 
        | / 
      | 7:00 Dinner 
      sup 
        | / 
      | 8:30
      a href="http://www.themustachefunk.com"
        = image_tag("mustache.png")
      br
      | at Horny Goat Hideaway
    a href="#" See Map

    aside Plenty of parking available - overnight too!

  section#rsvp
    h2 Will You be Joining Us?
